{
  "pid": "com.tibco.bw.stat.appnode.8d48ea49-2cf0-4678-8270-2a990d357831",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.8d48ea49-2cf0-4678-8270-2a990d357831",
      "type": "java.lang.String"
    }
  }
}